
<div class="container-fluid m-0 p-0 bg-light">
  <div class="row no-gutter shadow-sm shadow m-0 p-0 ">
    <div class="botao" > <!-- Inicio botao-->
      <button class="btn btn-light  p-0" [routerLink]="['/home', 'Lanches','false']">
        <div class="row pt-1">
          <div class="col" >
            <img src="../../assets/interface/lancheb.svg" height="22">
          </div ><!--fim -->
          <div class="w-100"></div>
          <div class="col botaomt" ><!-- Inicio -->
            <span class="menu">Lanches</span>
          </div ><!--fim -->
        </div>
      </button>
    </div><!--fim  botao-->

    <div class="botao " > <!-- Inicio botao-->
      <button class="btn btn-light  p-0" [routerLink]="['/home', 'Porcao','false']">
        <div class="row pt-1">
          <div class="col" >
            <img src="../../assets/interface/porcaosb.svg" height="22">
          </div ><!--fim -->
          <div class="w-100"></div>
          <div class="col botaomt" ><!-- Inicio -->
            <span class="menu">Porções</span>
          </div ><!--fim -->
        </div>
      </button>
    </div><!--fim  botao-->

    <div class="botao" > <!-- Inicio botao-->
      <button class="btn btn-light  p-0" [routerLink]="['/carrinho']">
        <div class="row pt-1">
          <div class="col" >
            <img src="../../assets/interface/carrinhoComprab.svg" height="22">
          </div ><!--fim -->
          <div class="w-100"></div>
          <div class="col botaomt" ><!-- Inicio -->
            <span class="menu">Pedido</span>
          </div ><!--fim -->
        </div>
      </button>
    </div><!--fim  botao-->

    <div class="botao" > <!-- Inicio botao-->
      <button class="btn btn-light  p-0" [routerLink]="['/home', 'Bebidas','false']">
        <div class="row pt-1">
          <div class="col" >
            <img src="../../assets/interface/bebidasb.svg" height="22">
          </div ><!--fim -->
          <div class="w-100"></div>
          <div class="col botaomt" ><!-- Inicio -->
            <span class="menu">Bebidas</span>
          </div ><!--fim -->
        </div>
      </button>
    </div><!--fim  botao-->

     <div class="botao" > <!-- Inicio botao-->
      <button class="btn btn-light  p-0 " [routerLink]="['/home', 'inicio','false']">
        <div class="row pt-1">
          <div class="col" >
            <img src="../../assets/interface/home.svg" height="22">
          </div ><!--fim -->
          <div class="w-100"></div>
          <div class="col botaomt" ><!-- Inicio -->
            <span class="menu">Inicio</span>
          </div ><!--fim -->
        </div>
      </button>
    </div><!--fim  botao-->

    
  </div>


</div>