

  <div class="row no-gutter shadow-sm shadow m-0 p-0 bg-light ">
    <div class="botao" > <!-- Inicio botao-->
      <button class="btn btn-light  p-0" [routerLink]="['/homep', 'Lanches']">
        <div class="row pt-1">
          <div class="col" >
            <img src="../../assets/interface/lanchebb.svg" height="22">
          </div ><!--fim -->
          <div class="w-100"></div>
          <div class="col botaomt" ><!-- Inicio -->
            <span class="menu">Lanches</span>
          </div ><!--fim -->
        </div>
      </button>
    </div><!--fim  botao-->

    <div class="botao" > <!-- Inicio botao-->
      <button class="btn btn-light  p-0" [routerLink]="['/homep', 'Porcao']">
        <div class="row pt-1">
          <div class="col" >
            <img src="../../assets/interface/porcaosbb.svg" height="22">
          </div ><!--fim -->
          <div class="w-100"></div>
          <div class="col botaomt" ><!-- Inicio -->
            <span class="menu">Porções</span>
          </div ><!--fim -->
        </div>
      </button>
    </div><!--fim  botao-->

    <div class="botao" > <!-- Inicio botao-->
      <button class="btn btn-light  p-0" [routerLink]="['/cadastro']">
        <div class="row pt-1">
          <div class="col" >
            <img src="../../assets/interface/add.svg" height="22">
          </div ><!--fim -->
          <div class="w-100"></div>
          <div class="col botaomt" ><!-- Inicio -->
            <span class="menu">Cadastrar</span>
          </div ><!--fim -->
        </div>
      </button>
    </div><!--fim  botao-->

    <div class="botao" > <!-- Inicio botao-->
      <button class="btn btn-light  p-0" [routerLink]="['/homep', 'Bebidas']">
        <div class="row pt-1">
          <div class="col" >
            <img src="../../assets/interface/bebidasbb.svg" height="22">
          </div ><!--fim -->
          <div class="w-100"></div>
          <div class="col botaomt" ><!-- Inicio -->
            <span class="menu">Bebidas</span>
          </div ><!--fim -->
        </div>
      </button>
    </div><!--fim  botao-->

     <div class="botao" > <!-- Inicio botao-->
      <button class="btn btn-light  p-0" [routerLink]="['/acompanhamentos']">
        <div class="row pt-1">
          <div class="col" >
            <img src="../../assets/interface/adicionais.svg" height="22">
          </div ><!--fim -->
          <div class="w-100"></div>
          <div class="col botaomt" ><!-- Inicio -->
            <span class="menu">Adicionais</span>
          </div ><!--fim -->
        </div>
      </button>
    </div><!--fim  botao-->

    
  </div>


