
<div class="container-fluid-sm m-0 p-0 d-sm-none d-sm-block d-md-none">

  <div class="fixed-top">
    <div *ngIf="lojaPainel; else alto">
      <app-altop></app-altop>
  </div>
  <ng-template #alto>
    
    <app-alto></app-alto>
  </ng-template>
  </div>

  <div class="container-fluid  p-0 m-0 justify-content-center">
    <router-outlet></router-outlet>
  </div>

  <nav class="navbar fixed-bottom navbar-light m-0 p-0 " style="background-color: #eee ;">
    <div *ngIf="lojaPainel; else baixo">
    <app-baixop></app-baixop>
  </div>
  <ng-template #baixo>
    <app-baixo></app-baixo>
  </ng-template>
  </nav>  

</div>